.scene {
	left: -950px;
    position: fixed;
    width: 2020px;
	height: 300vh;
	top: -100vh;

	// path:first-child {
	// 	fill: #171817;
	// }

	// path:nth-child(2) {
	// 	fill: #0c27cf;
	// }

	// path:nth-child(3) {
	// 	fill: #13269c;
	// }

	// path:nth-child(4) {
	// 	fill: #242468;
	// }

	// path:nth-child(5) {
	// 	fill: #2648e6;
	// }

	// path:nth-child(6) {
	// 	fill: #2c31b0;
	// }
	// path:nth-child(7) {
	// 	fill: #262689;
	// }

	path {
		fill: #1c1d21;
		box-shadow: 0 0 2px 20px red;
	}
}

.morph-background{
	transition: transform ease-in-out .2s .15s;
	transform: translateX(-120vw);
	position: fixed;
	z-index: 3;
	pointer-events:none;
}

.sidemenu-closed{
	.morph-background{
		transform: translateX(-120vw);
	}
}

.sidemenu-open{
	.morph-background{
		transform: translateX(0);
	}
}

@media screen and (min-width: 768px) {
	.morph-background,
	.sidemenu-open .morph-background,
	.sidemenu-closed .morph-background{
		transform: translateX(0%);
		z-index: 0;

		.scene{
			left:-90vw;
			width: 200vw;
		}
	}
}

