@import '../../variables';

.menu--tsula {
	margin-bottom: 0;

	.menu__item {
		padding-left: 0.25em;
		position: relative;
	}
	.menu__item-name {
		font-size: 1em;
		text-transform: uppercase;
		color: $contrastColor;
		margin-right: 5px;
	}
	.menu__item {
		&:hover .menu__item-name, &:focus .menu__item-name {
			color: #222328;
			background: $contrastColor;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			width: 0.9em;
			height: 1em;
			opacity: 0;
			background: rgba(90, 91, 211, 0.3);
			animation: none;
		}
	}
	.menu__item-label {
		margin: 0;
		color: #999caa;
	}
	.menu__item {
		&:hover::before, &:focus::before {
			animation: blinkblink 0.4s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
		}
	}
}

@keyframes blinkblink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}