.work-page{

	form{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.menu--tsula{
		padding-bottom: 50px;
	}

	.image.view{
		padding-bottom: 20px;
	}
}
.work-head{
	margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
	.work-page {
		padding-right: 30px;
	}
}